# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Logs and database
*.log
*.sqlite3

# Django specific files
media/
staticfiles/
*.pot
*.pyc

# Environments
env/
venv/
git_ignore/

# VSCode and IDE configs
.vscode/
.idea/

# Migrations
**/migrations/*

# Python cache and environment files
Pipfile.lock
pip-log.txt
.env
.venv

# Node modules if using npm/yarn
node_modules/

# Django secret key file (if applicable)
secret_key.json

# Build artifacts
build/
dist/
*.egg-info/
